/* Minimal CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif; /* Use a default font */
    line-height: 1.5; /* Improve readability */
    height: 100vh; /* Set height to 100% of the viewport height */
    background-image: url('./assets/Argentina-GettyImages-1146497849.webp'); /* Path to your image */
    background-size: cover; /* Cover the entire viewport */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Prevent the image from repeating */
}
  
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to right, rgb(44, 44, 44), rgba(255, 255, 255, 0));
}

.header-h2 {
    display: flex;
    align-items: center; /* Vertically center the items */
    justify-content: center; /* Horizontally center the items */
    color: white;
    margin-left: 20px;
}

.header-h2 h2 {
    margin-left: 20px;
}

/* Reset styles for the nav list */
.nav-list {
    list-style: none; /* Remove bullet points */
    padding: 0;      /* Remove default padding */
    margin: 0;       /* Remove default margin */
    display: flex;   /* Arrange items in a row */
    justify-content: center; /* Center items horizontally */
    
  }
  
  .nav-list li {
    margin: 0 15px; /* Space between items */
  }
  
  .nav-list a {
    text-decoration: none; /* Remove underline from links */
    color: white;         /* Link color */
    padding: 15px 20px;  /* Space around links */
    display: block;       /* Make the entire area clickable */
    transition: background-color 0.3s; /* Smooth transition for hover effect */
  }
  
  .nav-list a:hover {
    color: white;
    background: linear-gradient(to bottom, rgb(127, 127, 127), rgba(255, 255, 255, 0));
  }

  .search-container {
    display: flex;
    align-items: center; /* Vertically center the items */
    justify-content: center; /* Horizontally center the items */
    border: 2px solid gray; /* Border around the search field */
    border-radius: 25px; /* Rounded corners */
    overflow: hidden; /* Prevents overflow from buttons */
    background-color: white;
    margin-right: 20px;
}

.fa-search {
    color: gray;
}

.search-input {
    padding: 10px;
    font-size: 16px;
    border: none; /* Remove default border */
    flex: 1; /* Allow the input to take the available space */
    outline: none; /* Remove outline on focus */
}

.search-button, .clear-button {
    border-radius: 25px;
    padding: 5px 10px; /* Small padding for buttons */
    font-size: 14px; /* Smaller font size */
    border: none; /* Remove default border */
    background-color: darkgray; /* Blue background for search button */
    color: white; /* White text */
    cursor: pointer; /* Pointer cursor on hover */
    transition: background-color 0.3s; /* Smooth transition */
    margin: 5px; /* Margin to separate buttons from the edges */
}

.clear-button {
    background-color: darkgray; /* Red background for clear button */
}

.search-button:hover {
    background-color: gray; /* Darker blue on hover */
}

.clear-button:hover {
    background-color: gray; /* Darker red on hover */
}

.main-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between; /* Distributes space between sections */
    align-items: flex-start; /* Aligns items to the top */
    padding: 20px; /* Optional padding around the container */
    background: linear-gradient(to right, rgb(127, 127, 127), rgba(255, 255, 255, 0));
}

.page-intro, .search-result, .contact-us, .contact-form {
    flex: 1; /* Grow to fill available space */
    margin: 10px; /* Space between sections */
    padding: 20px;
}

.social-media-main {
    flex: 0 0 100px; /* Fixed width for the small section */
    margin: 10px; /* Space between sections */
    padding: 20px; /* Background color for visibility */
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.social-media-section {
    display: flex;
    flex-direction: column;
}

.vertical-line {
    width: 2px; /* Width of the vertical line */
    height: 323px;
    background-color: white; /* Color of the vertical line */
    margin-bottom: 70px;
}

.fa {
    color: white;
}

.social-media-btn {
    margin-top: 30px;
}

.page-intro {
    color: white;
}

.intro-title {
    font-size: 50px;
}

#book-now-btn {
    border-radius: 25px;
    padding: 5px 10px; /* Small padding for buttons */
    font-size: 14px; /* Smaller font size */
    border: none; /* Remove default border */
    background-color: darkgray; /* Blue background for search button */
    color: white; /* White text */
    cursor: pointer; /* Pointer cursor on hover */
    transition: background-color 0.3s; /* Smooth transition */
    margin: 5px; /* Margin to separate buttons from the edges */
    padding: 20px 40px;
    margin-top: 50px;
}

#book-now-btn:hover {
    background-color: gray; /* Darker blue on hover */
}

.contact-us {
    padding-top: 150px;
    color: white;
}

#intro-title {
    font-size: 50px;
}

.contact-form {
    background: rgba(0, 0, 0, 0.6); /* Light background with transparency */
    color: white;
    display: flex;
    flex-direction: column;
    padding: 40px;
    margin-top: 100px;
}

.contact-form > label {
    padding-top: 20px;
}

#contact-btn {
    border-radius: 25px;
    padding: 5px 10px; /* Small padding for buttons */
    font-size: 14px; /* Smaller font size */
    border: none; /* Remove default border */
    background-color: darkgray; /* Blue background for search button */
    color: white; /* White text */
    cursor: pointer; /* Pointer cursor on hover */
    transition: background-color 0.3s; /* Smooth transition */
    margin: 5px; /* Margin to separate buttons from the edges */
    padding: 20px 40px;
    margin-top: 50px;
}

#contact-btn:hover {
    background-color: gray;
}

#intro-title {
    font-size: 50px;
    color: white;
}

#about-us-desc {
    background: rgba(0, 0, 0, 0.6);
    color: white;
    padding: 20px;
}

.team-details {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    margin-top: 30px;
}

.team-details-desc {
    display: flex;
    justify-content: space-around;
    flex: 2;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    padding: 20px;
}

#team-title {
    flex: 1;
    align-content: center;
    color: white;
}

.team-card > button {
    border-radius: 25px;
    padding: 5px 10px; /* Small padding for buttons */
    font-size: 14px; /* Smaller font size */
    border: none; /* Remove default border */
    background-color: darkgray; /* Blue background for search button */
    color: white; /* White text */
    cursor: pointer; /* Pointer cursor on hover */
    transition: background-color 0.3s; /* Smooth transition */
    margin: 5px; /* Margin to separate buttons from the edges */
}